<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Title</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<nav>
  <div class="w3-bar w3-black w3-card">
{#    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>#}
    <a href="{% url 'homePage' %}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
{#      <a href="{% url 'logoutPage' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGOUT {{ request.user }}</a>#}
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
    </nav>
{#</div>#}

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="{% url 'homePage' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>
{#  <a href="{% url 'logoutPage' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOGOUT {{ request.user }}</a>#}
</div>
<h2>Allow the website to get your GPS Location to give you nearby hospitals</h2>
<button onclick="myMap()" style="margin-left: 50px">Get location</button>

<div id="coordinates"></div>
<div id="sentCoordinates">{{ my_data }}</div>


<script>

    const x = document.getElementById("coordinates")
   var lat;
   var lon;
   var map;
   let service;
   var myLatlng;
   var lat_lng;
   let infowindow;
   var data;

    function myMap() {

        if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition)
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }

    }

    function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;

        data = {
            lat: lat,
            lon: lon
        };

        //x.innerHTML = "Lat: " + lat + " lon: " + lon;
        //data = {lat: lat, lon: lon}

        var xhr = new XMLHttpRequest();
  //var dataText = document.getElementById("coordinates").innerText;
  var dataText = {lat, lon};
  xhr.open("POST", "https://skin-lesion-classifier-gzb22.ondigitalocean.app/location/");
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));  // Include your CSRF token here

 {#if (lat == null){#}
 {#    xhr.send(encodeURIComponent(dataText));#}
 {# }#}

        xhr.onload = function () {
        // This code will execute after the POST request is completed
        // If you want to redirect, do it here
        window.location.href = 'https://skin-lesion-classifier-gzb22.ondigitalocean.app/referral';
    };

 //xhr.send("myData=" + encodeURIComponent(data));
 xhr.send(JSON.stringify(data))

    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
}


</script>
</body>
</html>