<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Success</title>
</head>
<body>
    <h2>Upload Successful</h2>
    <p>{{ predicted_label }}</p>
    <p>For a professional look at your lesion, please check a dermatologist near you with our <a href="{% url 'referral' %}" class="w3-bar-item w3-button">referral</a> page.</p>
    <!-- Display additional information or the uploaded file as needed -->
</body>
</html>